* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(245, 200, 77, 0.801);
    color: black;
}

header {
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover{
    color: rgb(221, 221, 13);
}

header nav ul li a.active {
    color: rgb(221, 221, 13);
}

.about-section {
    background-color: white;
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: black;
}

p {
    margin: 20px 0;
    line-height: 1.6;
}

ul {
    margin: 20px 0;
    padding-left: 20px;
}

ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.team {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.team-member {
    text-align: center;
    flex: 1;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}
